#image {
  background:linear-gradient(90deg,hsl(0, 0%, 70%) 50%,hsl(0, 0%, 30%) 0)0/20px,
             linear-gradient(hsl(0, 0%, 70%) 50%,hsl(0, 0%, 30%) 0)0/9% 20px;
  background-blend-mode:exclusion
}

#bounding-boxes, .highlight-wrapper, .bounding-box {
  pointer-events: none;
}

.bounding-box-outline {
  width: 100%;
  height: 100%;
  outline-offset: 2px;
  border: 1px solid hsla(0, 0%, 0%, 0.4);
  border-radius: 1px;
  position: relative;
  z-index: 1;
}

.bounding-box-outline:before {
  content: " ";
  position: absolute;
  border: 1px dashed hsla(0, 0%, 100%, 0.9);
  z-index: -1;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  pointer-events: none;
}

.swatch {
  border: 2px hsla(0, 0%, 95%, 0) solid;
  transition: transform 0.3s linear;
}

.active-swatch {
  border: 2px #f3f3f3 solid;
  position:relative;
  z-index:1
}

.active-swatch:before
{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:1px;
    left:1px;
    right:1px;
    bottom:1px;
    border:1px solid #838383;
    border-radius: 1px;
}

.editing { width: 100%; }
.hidden { display: none; }
.bg-0 { background: none; }
.grid { display: grid }
.rgap1 { grid-row-gap: 0.25em; }
.cgap1 { grid-column-gap: 0.25rem; }
.rgap2 { grid-row-gap: 0.5em; }
.cgap2 { grid-column-gap: 0.5rem; }
.rgap3 { grid-row-gap: 1em; }
.cgap3 { grid-column-gap: 1rem; }
.col-2 { grid-template-columns: 1fr 1fr }
.col-3 { grid-template-columns: repeat(3, 1fr) }
.row-5 { grid-template-rows: repeat(5, 1fr) }
.col1-3 { grid-column: 1/3; }
.col1-4 { grid-column: 1/4; }
.col2-3 { grid-column: 2/4; }
.col3-4 { grid-column: 3/4; }
.grid-content-start { align-content: start }
.place-center { place-self: center; }
.center-items { place-items: center; }
.svg-hover-light-blue:hover { fill: #96ccff; }
.svg-hover-light-blue:focus { fill: #96ccff; }
.vw-100 { width: 100vw }
.vh-35 { height: 35vh; }
.mh-vh-80 { max-height: 80vh; }
.fill-current { fill: currentColor }
.stroke-current { stroke: currentColor }
.sourcesans {font-family: 'SourceSansPro', sans-serif;}

@media screen and (min-width: 30em) {
.column-5-ns { grid-template-columns: repeat(5, 1fr) }
.vw-25-ns { width: 25vw; }
.w5-ns { width: 16rem; }
.vh-100-ns { height: 100vh; }
.w2-5-ns { width: 3rem; }
.h2-5-ns { height: 3rem; }
}

/* @font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.otf');
  font-weight: 200;
  font-style: italic;
} */
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-LightIt.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-It.otf');
  font-weight: 400;
  font-style: italic;
}
/* @font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-SemiboldIt.otf');
  font-weight: 600;
  font-style: italic;
} */
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-BoldIt.otf');
  font-weight: 700;
  font-style: italic;
}
/* @font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-Black.otf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro/SourceSansPro-BlackIt.otf');
  font-weight: 900;
  font-style: italic;
} */
