<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Customizable CC Buttons</title>
    <link rel="stylesheet" href="./css/tachyons.css">
    <link rel="stylesheet" href="./css/cc-buttons.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="app" class="bg-light-gray white sourcesanspro">
        <nav id="welcome-title" v-if="!mySVG"
             class="z-1 fixed bg-mid-gray vw-100 flex flex-column items-center">
          <h1 class="near-white f2 f1-ns fw4 tc w-80 w-70-ns mv1 mv3-ns pa3-ns">
            Customizable <span>CC Buttons</span>
          </h1>
          <div class="near-white bg-gray b--mid-gray f5 f4-ns fw2 w-100 pv3 bb
                      bw1 flex justify-center">
            Pick a template to modify:
          </div>
        </nav>

        <nav id="options-btns" v-if="mySVG"
             class="z-1 fixed bg-mid-gray b--mid-gray vw-100 pa1 bb bw1 mb2
                   flex justify-between items-center">
          <button id="back-btn" type="submit" @click="mySVG = ''"
                  class="white bg-light-red f6 f5-ns b pa2 bn ma2 link dim flex
                        items-center">
            <svg id="chevronLeft" viewBox="0 0 32 32"
                 class="w1 pr2 fill-current">
              <title>chevronLeft icon</title>
              <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
            </svg>
            <span>Back to Templates</span>
          </button>

          <button id="download-btn" type="submit" @click="downloadSVG()"
                  class="white bg-blue f6 f5-ns b pa2 bn ma2 mr3-ns link dim
                        flex items-center">
            <span>Download <span class="nowrap"> your SVG</span></span>
            <svg viewBox="0 0 32 32" stroke-width="4" fill="none"
                 class="stroke-current w1 pl1">
              <title>download icon</title>
              <path d="M16,3 L16,23"/>
              <polyline points="7 16 16 24 25 16"/>
              <path d="M28,29 L4,29"/>
            </svg>
          </button>
          <a id="download-link" href="" download="" hidden/></a>
        </nav>

      <main class="h-100">
        <div class="z-0 flex flex-column justify-start items-center">
          <div id="thumbnails" v-if="!mySVG"
               class="w-90 w-70-ns pt5 mt5 mt6-ns grid col-3 column-5-ns link">
            <img v-for="thumbnail in thumbnails"
                 :title="'CC ' + thumbnail.title + 'button'"
                 :alt="'CC ' + thumbnail.title + 'button'"
                 :src="'images/CC_Button-' + thumbnail.code + '.svg'"
                 @click="loadExampleSVG()" class="place-center w4 w5-ns"/>
          </div>
        </div>

        <div id="svg-display" v-show="mySVG" class="fr-ns">
          <div id="image"
               class="z-0 b--mid-gray mw7-ns ba br1 ma2 mt5 mt6-ns mr5-ns"></div>
          <div id="bounding-boxes"></div>
        </div>
        <div id="upload-wrapper" v-if="!mySVG" class="bg-blue fr pa3">
          <p>you can also upload your own SVG:</p>
          <input id="upload" type="file" accept=".svg" @change="uploadSVG()">
        </div>
      </main>

      <nav id="editing-tools"  v-if="mySVG"
           class="z-0 bg-gray b--mid-gray fixed bottom-0 left-0-ns vw-100 w5-ns
                 vh-35 vh-100-ns ph1 bt bt-0-ns br-ns flex flex-column-ns
                 items-center-ns">

        <div id="colors" class="w-80-ns pa2 mt6-ns grid col-3 grid-content-start
                rgap2 cgap2 rgap2-ns cgap2-ns">
          <button id="picker-wrapper" @click="clickPicker"
            class="white bg-blue col1-4 f6 f4-ns b w100 h3-ns pa2 bn flex
                  justify-around items-center link dim">
            <svg id="color-icon" viewBox="0 0 32 32" class="fill-current w1 mr2">
              <path d="M15.5 1C13.8 4.3 5 12.1 5 20.4 5 26.3 9.7 31 15.5 31
                      S26 26.3 26 20.4c0-8.3-8.8-16-10.5-19.4zM7.7 17.5c-.5 4.6
                      5 10.2 10.4 11-.8.2-1.7.3-2.6.3a8.4 8.4 0 0 1-7.8-11.3z"/>
            </svg>
            <span>Add Color</span>
          </button>
          <input id="color-picker" value="#e6e6e6" type="color" v-model="hexcode"
                    @change="addNewColor()" class="hidden">
          <swatch v-for="swatch in swatchesArray" :color="swatch"
                  @select="selectSwatch" :selected-swatch ="selectedSwatch">
          </swatch>
        </div>

        <div id="shapes" class="w-80-ns pa2 mt3-ns flex flex-column justify-start">
          <button id="add-shape"
                     v-if="mySVG && !shapePicking" type="submit"
                     @click="shapePicker"
                     class="white bg-blue f6 f4-ns b w4 w-100-ns h3-ns pa2 bn
                           flex justify-around items-center link dim" >
            <svg viewBox="-16 -16 32 32" class="w1 mr2 fill-current">
              <title>downwardsTriangle</title>
              <polygon points='-15,-13, 15,-13, 0,13'/>
            </svg>
            <span>Add Shape</span>
          </button>
          <button id="hide" v-show="shapePicking" type="submit"
                  @click="shapePicker"
                  class="white bg-light-red f6 f4-ns b w4 w-100-ns h3-ns pa2 bn
                        flex justify-around items-center link dim">
            <svg viewBox="-16 -16 32 32" class="w1 mr2 fill-current">
              <title>upwardsTriangle</title>
              <polygon points='-15,13, 15,13, 0,-13'/>
            </svg>Hide
          </button>
          <div id="shape-buttons" class="w4 w-100-ns mt2-ns grid col-2 cgap-1
                  rgap-1 center-items" >
            <button v-show="shapePicking" v-for="(button, id) in shapebuttons"
                    :key="button.id" :title="button.name" type="submit"
                    @click="createShape"
                    class="bg-0 white fill-current w2
                    w3-ns pa1 bn">
              <svg :class="button.class" viewBox="-16 -16 32 32" tabindex="0"
                    class="w-90 w-80-ns outline-0">
                <g v-html="button.shape"></g>
              </svg>
            </button>
          </div>


          <div id="selected-shape" v-show="selectedShape && !shapePicking"
               class="flex flex-column justify-start">
            <div class="w4 w-100-ns pv2 mv3-ns flex justify-around items-center">
              <svg viewBox="0 0 32 32" class="fill-current w1 pr2">
                <title>selectionOutline</title>
                <path d="M1 1h4v8H1zM1 12h4v8H1zM1 23h4v8H1zM27 1h4v8h-4z
                      M27 12h4v8h-4zM27 23h4v8h-4zM5 1h4v4H5zM12 1h8v4h-8z
                      M23 1h4v4h-4zM5 27h4v4H5zM12 27h8v4h-8zM23 27h4v4h-4z"/>
              </svg>
              <span class="f6 f4-ns b">Selected Shape</span>
            </div>
            <div id="dimension-sliders">
              <input name="width" type="range" v-model="width"
                     :change="updateRectSize()" step="0.1" min="0.1" max="90"
                     class="w4 w-100-ns mt2-ns">
              <label for="width">Width</label>
              <input name="height" type="range" v-model="height"
                     :change="updateRectSize()" step="0.1" min="0.1" max="90"
                     class="w4 w-100-ns mt2-ns">
              <label for="height">Height</label>
            </div>
            <div class="w4 w-100-ns mv3-ns flex justify-between items-center">
              <div>
                <strong>Color: </strong> {{ shapeColor }}
              </div>
              <div id="shape-color" :style="{ backgroundColor : shapeColor }"
                   class="w1 w2-ns h2-ns pa2 br1">
              </div>
            </div>
            <button id="delete-shape" type="submit" @click="deleteShape"
                    class="white bg-light-red f6 f4-ns b w4 w-100-ns h3-ns pv2 bn
                          mv2 mv3-ns flex justify-around items-center link dim">
              <svg viewBox="-16 -16 32 32" class="fill-current w1 pr2">
                <title>x-icon</title>
                <g transform="rotate(45)">
                  <rect x="-4" y="-15" width="8" height="30"/>
                  <rect x="-15" y="-4" width="30" height="8"/>
                </g>
              </svg>Delete Shape
            </button>
          </div>
        </div>
      </nav>

      <footer v-if="!mySVG"
              class="bg-mid-gray tc-l vw-100 ph3 pv1 flex justify-around">
          <a title="Twitter" href="https://twitter.com/cameralibre"
             class="white-60 bg-transparent hover-light-blue tc pa2 br2 ma2
                   inline-flex items-center link">
            <svg fill="#bbb" viewBox="0 0 16 16"
                 class="dib svg-hover-light-blue w2 h2">
              <path d="M16 3c-.6.3-1.2.5-1.9.6.7-.5 1.2-1.1 1.5-1.9-.7.4-1.4.7
                    -2.1.8a3.3 3.3 0 0 0-5.7 2.3v.7a9.3 9.3 0 0 1-6.7-3.4c-.3.5
                    -.4 1-.4 1.6C.7 5 1.3 6 2 6.5c-.5 0-1-.2-1.5-.4 0 1.6 1.2 3
                    2.7 3.2a3.3 3.3 0 0 1-1.5 0 3.3 3.3 0 0 0 3 2.4A6.6 6.6 0 0
                    1 0 13a9.3 9.3 0 0 0 14.4-8.3c.6-.4 1.2-1 1.6-1.7z"/>
            </svg>
            <span class="f6 pr2 ml3">Twitter</span>
          </a>

          <a title="CC-Buttons on GitLab"
             href="http://gitlab.com/cameralibre/cc-buttons"
             class="white-60 bg-transparent hover-light-blue tc pa2 br2 ma2
                   inline-flex items-center link">
            <svg fill="#ddd" viewBox="100 100 385 360"
                 class="dib svg-hover-light-blue w2 h2">
              <path d="M293 435l62.2-191.4H230.9L293 435zM293 435l-62.2-191.4
                    h-87L293 435zM143.8 243.7l-19 58.1a12.9 12.9 0 0 0 4.7 14.4
                    L293 435 143.7 243.7zM143.8 243.7h87l-37.4-115.2a6.5 6.5 0
                    0 0-12.3 0l-37.3 115.2zM293 435l62.2-191.4h87.1L293 435z
                    M442.2 243.7l19 58.1a12.8 12.8 0 0 1-4.7 14.4L293 434.9
                    l149.2-191.2zM442.3 243.7h-87.1l37.4-115.2a6.5 6.5 0 0 1
                    12.3 0l37.4 115.2z"/>
              <g fill-opacity="0.2">
                <path fill="#666"
                      d="M461.2 301.8l-19-58-37.4-115.4a6.5 6.5 0 0 0-12.2 0
                      L355 243.6H230.8l-37.4-115.2a6.5 6.5 0 0 0-12.3 0l-37.3
                      115.2-19 58.2a12.9 12.9 0 0 0 4.7 14.4L293 435l163.4-118.8
                      a12.9 12.9 0 0 0 4.8-14.4"/>
                <path fill="#000" d="M293 435l62.2-191.4H230.9L293 435z"/>
                <path fill="#666" d="M293 435l-62.2-191.4h-87L293 435z"/>
                <path fill="#aaa" d="M143.8 243.7l-19 58.1a12.9 12.9 0 0 0 4.7
                      14.4L293 435 143.7 243.7z"/>
                <path fill="#000" d="M143.8 243.7h87l-37.4-115.2a6.5 6.5 0 0 0
                      -12.3 0l-37.3 115.2z"/>
                <path fill="#666" d="M293 435l62.2-191.4h87.1L293 435z"/>
                <path fill="#aaa" d="M442.2 243.7l19 58.1a12.8 12.8 0 0 1-4.7
                      14.4L293 434.9l149.2-191.2z"/>
                <path fill="#000" d="M442.3 243.7h-87.1l37.4-115.2a6.5 6.5 0 0 1
                      12.3 0l37.4 115.2z"/>
              </g>
            </svg>
            <span class="f6 ml3 pr2">GitLab</span>
          </a>

          <a title="CC-Zero Public Domain Dedication"
             href="https://creativecommons.org/publicdomain/zero/1.0/"
             class="white-60 bg-transparent hover-light-blue tc pa2 br2 ma2
                   inline-flex items-center link">
            <svg viewBox="-.5 .5 138 64" class="fill-current w3">
            	<path d="M106 14c-10.6 0-13.2 10-13.2 18.5s2.6 18.4 13.2 18.4 13.2
                    -10 13.2-18.4c0-8.5-2.6-18.4-13.2-18.4zm0 7c.4 0 .8 0 1.2.2
                    .7.6 1.1 1.5.4 2.8l-7 13c-.3-1.7-.3-3.3-.3-4.5 0-3.7.3-11.5
                    5.7-11.5zm5.3 6c.3 2 .4 4 .4 5.5 0 3.7-.3 11.5-5.7 11.5a4.9
                    4.9 0 0 1-1.7-.3c-1.2-.6-2-1.5-.9-3.1l7.4-13.6z"/>
            	<path d="M106 .5a32.5 32.5 0 0 0-32 32 31.4 31.4 0 0 0 9 22.6 31.6
                    31.6 0 0 0 34.9 7 32.9 32.9 0 0 0 17.4-17.3c1.5-3.8 2.3-8
                    2.3-12.3a32.5 32.5 0 0 0-9.2-22.6 31.6 31.6 0 0 0-23-9.4zm.2
                    5.8c6.6 0 12.8 2.5 17.8 7.7a25.7 25.7 0 0 1 7.6 18.5c0 7.4
                    -2.5 13.5-7.5 18.3a27.5 27.5 0 0 1-18.6 7.8 26 26 0 0 1-24.2
                    -16.2A25.6 25.6 0 0 1 87 14c5-5 11.2-7.6 18.5-7.6z"/>
            	<path d="M54.3 10a30.7 30.7 0 0 1 9.3 22.5c0 9-3 16.3-9.1 22.3
                    a31.3 31.3 0 0 1-22.8 9.5c-8.6 0-16-3.1-22.3-9.4A30.6 30.6 0
                    0 1 .1 32.5C0 23.9 3.2 16.3 9.4 10A30.2 30.2 0 0 1 31.7.7c9
                    0 16.5 3 22.6 9.3zm-40.7 4a25.3 25.3 0 0 0-7.8 18.5c0 7 2.5
                    13.2 7.7 18.3A25 25 0 0 0 32 58.5c7 0 13.2-2.6 18.5-7.8a24.3
                    24.3 0 0 0 7.5-18.2c0-7.2-2.5-13.4-7.7-18.5A25 25 0 0 0 32
                    6.4c-7.2 0-13.3 2.6-18.3 7.7zm13.7 15.4c-.8-1.7-2-2.6-3.6
                    -2.6-2.8 0-4.2 1.9-4.2 5.7 0 3.7 1.4 5.6 4.2 5.6 1.8 0 3.1-1
                    4-2.7l3.8 2a9 9 0 0 1-8.3 5c-3 0-5.1-.9-6.9-2.6a9.9 9.9 0 0
                    1-2.6-7.3c0-3 1-5.4 2.7-7.2a9 9 0 0 1 6.6-2.7c4 0 6.8 1.5
                    8.4 4.6zm18.2 0c-.7-1.7-2-2.6-3.5-2.6-2.8 0-4.3 1.9-4.3 5.7
                    0 3.7 1.5 5.6 4.3 5.6 1.9 0 3.2-1 4-2.7l3.9 2a9 9 0 0 1-8.3
                    5c-2.9 0-5.2-.9-7-2.6a10 10 0 0 1-2.4-7.3c0-3 .8-5.4 2.6-7.2
                    s4-2.7 6.6-2.7c4 0 6.7 1.5 8.4 4.6z"/>
            </svg>
          </a>
      </footer>
    </div>
  </body>

  <script type="text/x-template" id="swatch-template">
    <div @click="select" :class="{'active-swatch': isSelected}"
         :style="{ backgroundColor : color }"
         class="swatch w2 w2-5-ns h2 h2-5-ns pa2 br1 pointer place-center"></div>
  </script>

  <script type="module" src="./util.js"></script>
  <script type="text/javascript" src="./lib/vue.js"></script>
  <script type="text/javascript" src="./lib/svg.js"></script>
  <script type="text/javascript" src="./lib/webColors.js"></script>
  <script type="module" src="./index.js"></script>
</html>
